
:root {
    --max-article-width: 280px;
    --min-article-width: 280px;
}

body{
    background: rgb(53, 49, 49);
    /* background: rgb(53, 49, 49); */
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    padding:0;
}
header.main-header{
    /* background-color: orange; */
    background-image: url("Resources/Images/dinoEngineYtBg3.png");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
    height:200px;
    text-transform: uppercase;
    margin:0;
    padding:0;
}


.main-title{
    /* color: rgb(94, 94, 94); */
    color: rgb(224, 224, 224);
    margin:0;
    text-align: center;
}

.main-header nav{
    display:flex;
}

nav ul.page-links{
    display: flex;
    flex-wrap: wrap;
    font-size: 140%;
    justify-content: center;
    margin-bottom: 0%;
    
    /* background-color: orange; */
}
.page-links li{
    padding: 0px 20px 0px 0px;
    margin: 5px;
    /* background-color:yellow; */
}

.page-links li a{
    border-radius: 3px;
    color:white;
    /* padding: 10px; */
}

.page-links li a:active{
    background-color: rgba(0, 0, 0, 0.6);
    color: gray;
}

.page-links li .selected-link{
    color: gray;
}



/********** ABOUT PAGE ***************/

section.presentation{
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background: blueviolet; */

}

.presentation article{
    /* align-items: center; */
    /* align-content: center; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 20px ;

}

.presentation article figure, .presentation article div{
    max-width: var(--max-article-width);
}


.presentation figure img{
    /* border:1px  white; */
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.589) 10px 5px 10px;
    width: 200px;

}

.presentation h2{
    color: gainsboro;
    /* color: rgb(16, 16, 16); */
    font-size: 160%;
}

.presentation h3{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.presentation h4{
    color: rgb(153, 153, 153);
}

/***************** GAMES AND APPS PAGE *******************/

section.games-and-apps{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* justify-content: space-around; */
}

.games-and-apps article{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    /* border-style: solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    min-width: var(--max-article-width);
    max-width: 400px;
    word-wrap: break-word;
}

        /* Text */

/* .games-and-apps  h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {

} */

.games-and-apps div{
    font-weight: lighter;
    margin-left: 12px;
    margin-right: 12px;

    /* background-color: tomato; */
}


.games-and-apps h3{
    text-align: center;
}

.games-and-apps h4{
    color: rgb(165, 165, 165)
}

.games-and-apps h4,h6{
    font-style: italic;
}

.games-and-apps h5{
    line-height: 150%;
}

.games-and-apps h6{
    font-size: 78%;
}

        /* Images */

.games-and-apps article figure{
   /* justify-content: baseline; */
   align-items: center;
   display: flex;
   flex-direction: column;
   max-width: 100%;
   /* width: 140px; */
   background-color: tomato;

}



.games-and-apps article figure img{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.589) 5px 5px 5px;
    
    max-width: 100%;
    heigh: auto;
    display: block;
    /* margin-left: auto;
    margin-right: auto;
    display: block; */
}

.games-and-apps article figure figcaption{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}


/* ************* MENTIONS *********** */


section.mentions{

    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* justify-content: space-around; */

}

.mentions article{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    /* border-style: solid; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content: space-between; */
    margin: 10px;
    max-width: var(--max-article-width);
    padding: 10px;
    word-wrap: break-word;
}

.mentions a:hover {
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 3px;
}

.mentions article div.title{
    text-align: center;
    width: var(--max-mention-width);
    /* background-color: red; */
}

/* .mentions article div.content{

} */

.mentions article div.content img , .mentions article div.content iframe{
    max-width: var(--max-article-width);
}


/* ************* GLOBAL *********** */

a, a:visited, a:hover, a:focus, a:active  {
    text-decoration: none;
    color: rgb(197, 196, 196);
}

a:hover{
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 3px;
}

button{
    background: gray;
    border: none;
    color: whitesmoke;
}

footer{
    background: black;
    color: rgb(105, 98, 98);
    padding:10px;
    text-align: center;

}

h1{
    /* color: rgb(45, 113, 168); */
    /* background: black; */
}

h2{
    /* color: rgba(146, 21, 21, 0.6); */
}

section{
    /* padding: 20px; */
}

ul{
    list-style-type:none;
}
