body{
    background: rgb(53, 49, 49);
    /* background: rgb(53, 49, 49); */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    margin:0;
    padding:0;
}
header{
    /* background-color: black; */
    background-image: url("Resources/Images/dinoEngineYtBg3.png");
    background-position: 50% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height:200px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
}

.main-title{
    /* color: rgb(94, 94, 94); */
    color: rgb(224, 224, 224);
    display: inline-block;
    margin-top: 50px;
    overflow: hidden;
    text-align: center;
    /* text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.212), 1px -1px 0 rgba(0, 0, 0, 0.219), -1px 1px 0 rgba(0, 0, 0, 0.205), 1px 1px 0 #000; */
    word-wrap: break-word;
    width: 100%;
    /* background:  red; */
}


a, a:visited, a:hover, a:focus, a:active  { text-decoration: none; }

ul{
    list-style-type:none;
}


.page-links{
    bottom: 0;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 140%;
    justify-content: space-around;
    margin-bottom: 0%;
    position: absolute;
    /* background-color: red; */
}
.page-links li{
    /* background-color:yellow; */
    padding: 0px 20px 15px 20px;
}

.page-links li a{
    border-radius: 3px;
    color:white; 
    padding: 10px;
}
.page-links li a:hover{
    background-color: rgba(0, 0, 0, 0.425);
}
.page-links li a:active{
    background-color: rgba(0, 0, 0, 0.6);
    color: gray;
}

.page-links li .selected-link{
    color: gray;
}


section{
    padding: 20px;
    /* background: blueviolet; */
    
}

/********** ABOUT PAGE ***************/

.presentation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    /* background: blueviolet; */
    
}

section.presentation article{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 30px ;
    align-content: center;

    /* background: red; */

}
.presentation figure figcaption{
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    
}
.presentation figure img{
    /* border:1px  white; */
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.589) 10px 5px 10px;
    width: 200px;
    
}

.presentation h2{
    font-size: 160%;
    /* color: rgb(16, 16, 16); */
    color: gainsboro;
}

.presentation h3{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.presentation h4{
    color: rgb(153, 153, 153);
}

/***************** GAMES AND APPS PAGE *******************/

.games-and-apps{
    align-self: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.games-and-apps article{
    align-items: center;
    border-style: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.075);
    justify-content: space-between;
    word-wrap: break-word;
}

/* Text */

.games-and-apps div{
    margin-left: 20px;
    font-weight: lighter;
}

.games-and-apps h1, h2, h3, h4, h5, h6{
    margin-top: 10px;
    margin-bottom: 10px;
}

.games-and-apps h4{
    color: gray
}

.games-and-apps h4,h6{
    font-style: italic;
}

.games-and-apps a, a:visited, a:hover, a:focus, a:active{
    color: rgb(160, 160, 160)
}

.games-and-apps  h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.425);
}



/* Image */
.games-and-apps article figure{
   /* justify-content: baseline; */
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 140px;
   /* background-color: tomato; */
   
}


.games-and-apps article figure img{
    border-radius: 10px; 
    box-shadow: rgba(0, 0, 0, 0.589) 5px 5px 5px;
    width: 120px;
}
.games-and-apps article figure figcaption{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}




h1{
    /* color: rgb(45, 113, 168); */
    /* background: black; */
}


h2{
    /* color: rgba(146, 21, 21, 0.6); */

}
button{
    background: gray;
    border: none;
    color: whitesmoke;
}

footer{
    background: black;
    color: rgb(105, 98, 98);
    text-align: center;
    padding:10px;
    
}