
:root {
    /* --header-height: 10vh; */
    --footer-height: 4vh;

    --max-article-width: 550px;
    --min-article-width: 280px;

}

body{
    background: rgb(53, 49, 49);
    /* background: rgb(53, 49, 49); */
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
    padding:0;

}
header.main-header{
    /* background-color: orange; */
    background-image: url("Resources/Images/dinoEngineYtBg3.webp");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
    height:200px;
    /* height:var(--header-height); */
    text-transform: uppercase;
    margin:0;
    padding:0;
}


.main-title{
    /* color: rgb(94, 94, 94); */
    color: rgb(224, 224, 224);
    margin:0;
    text-align: center;
}

.main-header nav{
    display:flex;
}

nav ul.page-links{
    display: flex;
    flex-wrap: wrap;
    font-size: 140%;
    justify-content: center;
    list-style-type:none;
    margin-bottom: 0%;
    /* background-color: orange; */
}
.page-links li{
    padding: 0px 20px 0px 0px;
    margin: 5px;
    /* background-color:yellow; */
}

.page-links li a{
    border-radius: 3px;
    color:white;
    /* padding: 10px; */
}

.page-links li a:active{
    background-color: rgba(0, 0, 0, 0.6);
    color: gray;
}

.page-links li .selected-link{
    color: gray;
}


.page-links h3{

    padding: 0px 0px 0px 20px;
    margin: 5px;
}


/********** ABOUT PAGE ***************/


/******** WELCOME *******/

section.salute{

    align-items: center;
    flex-direction:column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
    font-weight: bolder;
    /* justify-content: center; */
    line-height: 30px;
    margin-top: 15px;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
    /* width:75%; */

    /* background-color: turquoise; */
}

.salute div.welcome{
    font-size: 200%;
    margin-top: 3vh;
    margin-bottom: 20px;
}


.welcome-content article.welcome-skills{

    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color:tomato; */
}

.welcome-skills ul{
    margin-right: 10px;
    max-width: 33%;
    text-align: left;
    /* background-color: turquoise; */
}

/********* PRESENTATION *********/

section.presentation{

    flex-direction: row;
    flex-wrap: wrap;
}

.presentation article{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding: 20px ;

}

.presentation article figure, .presentation article div{
    /* width: var(--min-article-width); */
    /* background-color: tomato; */
}


.presentation figure img{
    /* border:1px  white; */
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.589) 10px 5px 10px;
    width: 200px;

}

.presentation h2{
    color: gainsboro;
    /* color: rgb(16, 16, 16); */
    font-size: 160%;
}

.presentation h3{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.presentation h4{
    color: rgb(153, 153, 153);
}


/************ RESUME ***********/

section.resume{
    flex-direction: column;
    /* margin-left: 5vw;
    margin-right: 5vw; */
    /* background-color: tomato; */
}

.resume div.resume-title{
    align-self: center;
    font-size: 220%;
    font-weight: bolder;
    margin-bottom: 0px;
}

.resume div.resume-pdf{
    align-self: center;

}


.resume div.resume-pdf figure a{
    display: flex;
    flex-direction: column;
}

.resume div.resume-pdf figure a img{
    align-self: center;
    margin-bottom: 10px;
}


.resume article.resume-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.resume-content div{
    align-self: center;
    /* background-color: hotpink; */
    /* background-color: hotpink; */
}

.resume-content div .title{
    display:flex;
    align-content: center;
    justify-content: center;
    font-size: 150%;
    margin-bottom: 25px;
    margin-top: 30px;
}

.resume-content div .content{
    /* font-size: 150%; */
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.resume-content div ul div{
    font-size: 120%;;
    margin-bottom: 15px;
}
.resume-content div ul li{
    margin-bottom: 5px;
}



/***************** GAMES AND APPS PAGE *******************/

section.games-and-apps{
    flex-direction: row;
    flex-wrap: wrap;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
}

.games-and-apps article{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    max-width: var(--max-article-width);
    word-wrap: break-word;
}

        /* Text */

/* .games-and-apps  h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {

} */

.games-and-apps div{
    font-weight: lighter;
    margin-left: 5%;
    margin-right: 5%;
}


.games-and-apps h3{
    /* font-size: 6vw; */
    text-align: center;
}

.games-and-apps h4{
    color: rgb(165, 165, 165)
}

.games-and-apps h4,h6{
    font-style: italic;
}

.games-and-apps h5{
    line-height: 150%;
}

.games-and-apps h6{
    font-size: 78%;
}

        /* Images */

.games-and-apps article figure, .games-and-apps article figure a{
   /* justify-content: baseline; */
   align-items: center;
   display: flex;
   flex-direction: column;
   width: 100%;
   /* width: 140px; */
   /* background-color: tomato; */

}



.games-and-apps article figure img, .games-and-apps article figure a img{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.589) 7px 7px 7px;
    width: 70%;
}

.games-and-apps article figure figcaption{
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}


/***** GAME PAGE *****/

section.game-description{
    flex-direction: column;
    line-height: 20px;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: justify;
    /* background-color: hotpink; */
}



/* ************* MENTIONS *********** */


section.mentions{
    flex-flow: row wrap;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: auto;

}

.mentions article{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.075);
    border-radius: 10px;
    display: flex;
    flex: auto;
    flex-direction: column;
    margin: 10px;
    max-width: var(--max-article-width);
    min-height: 400px;
    padding: 10px;
    word-wrap: break-word;
}

.mentions a:hover {
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 3px;
}

.mentions article div.title{
    text-align: center;
}

.mentions article div.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}

.mentions article div.content a img , .mentions article div.content iframe{
    width: 100%;
    height: 100%;
}



/* ************* GLOBAL *********** */

a, a:visited, a:hover, a:focus, a:active  {
    text-decoration: none;
    color: rgb(197, 196, 196);
}

a:hover{
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 3px;
}

button{
    background: gray;
    border: none;
    color: whitesmoke;
}

footer{
    background: rgba(0, 0, 0, 0.733);
    bottom: 0;
    color: rgb(128, 128, 128);
    display: flex;
    flex-direction: row;
    height: var(--footer-height);
    justify-content: space-around;
    left: 0;
    padding-top:10px;
    padding-bottom:10px;
    position: fixed;
    right: 0;
    text-align: center;
    width: 100vw;
}

footer div.powered-by{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    margin-left: 2vw;
}

.powered-by div{
    align-self: center;
    margin-right: 1vh;
}

 footer div.contact-logos{
   min-width: 25%;
   /* background-color: turquoise; */
}

.contact-logos a{
    height: 100%;
    margin-right:  2vw;
    background-color: transparent;
}


.contact-logos a img{
    height: 100%;
    width: auto;
}


h1{
    /* color: rgb(45, 113, 168); */
    /* background: black; */
}

h2{
    /* color: rgba(146, 21, 21, 0.6); */
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 5%;
  margin-right: 5%;
  border-style: inset;
  border-width: 1px;
}

section{
    align-self: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 8vh;
}

ul{

}
